@charset "UTF-8";

h1
{
  text-align: center;
  font-weight: bold;
  margin: 0%;
}
h3
{
  text-align: center;
}
h4
{
  text-align: center;
}
p
{
  text-align: center;
}

.header
{
  width: 100%;
  margin: auto;
  text-align: center;
}

body
{
  font-family: 'Lusitana';
  font-size: 15px;
}

.value
{
  font-weight: bold;
}

.datadriven
{
  display: none;
}
progress
{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.storyprogress
{
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}

.fractalcolumn {
  float: left;
  width: 25%;
  display: none;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#APIInput
{
  display: none;
}

.helper
{
  vertical-align: middle;
}

.story
{
  float: center;
  text-align: center;
  width: 100%;
}

#legendaryList
{
  display: table;
  margin: 0 auto;
}

.LW1
{
  background-color: #fc4949;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.LW2
{
  background-color: #c92424;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.HOT
{
  background-color: #3aba53;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.LW3
{
  background-color: #289c28;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.POF
{
  background-color: #7e44c9;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.LW4
{
  background-color: #885bc2;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.LW5
{
  background-color: #51cfe8;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.EOD
{
  background-color: #40aae3;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.Interlude
{
  background-color: #00ffc8;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.SOTO
{
  background-color: #ffc338;
  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}

.JW
{
  background-color: #0d0db8;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

#storyinfo
{
  display: none;
}