@charset "UTF-8";

h1
{
  text-align: center;
  font-weight: bold;
  margin: 0%;
}
h3
{
  text-align: center;
}
p
{
  text-align: center;
}

.header
{
  width: 100%;
  margin: auto;
  text-align: center;
}

body
{
  font-family: 'Lusitana';
  font-size: 15px;
}

.value
{
  font-weight: bold;
}

.datadriven
{
  display: none;
}
